.navbar {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #cccbcb;
}

.navbar-title {
  margin-bottom: 16px;
  font-size: 26px;
  font-weight: 700;
}

/* Tabs giống Topbar */
.navbar-tabs {
  display: flex;
  flex-wrap: wrap;
  /* Xuống 2 hàng hoặc nhiều hàng */
  gap: 8px;
  max-width: 900px;
  /* Hàng 1 chứa khoảng 5 nút → hàng dưới 4 */
}

.navbar-tab {
  border-radius: 20px !important;
  white-space: nowrap !important;
}

.navbar-tab:hover {
  background: #eee;
}

@media (max-width: 1530px) {
  .navbar-tabs {
    max-width: 700px;
  }
}

@media (max-width: 1400px) {
  .navbar-tabs {
    max-width: 600px;
  }
}

@media (max-width: 1280px) {
  .navbar-tabs {
    max-width: 500px;
  }

  /* Laptop 15.6 → tự chia 2 hàng */
}