.recent {
  background-color: #fff !important;
  margin-top: 30px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.212);
}

.recent-list {
  margin-top: 16px;
}

.recent-item {
  background: #fff;
  border-radius: 10px;
  padding: 14px 16px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
  transition: 0.2s;
}

.recent-item:hover {
  background: #fafafa;
}